.admin-card {
  margin-top: 1rem;
}

.admin-form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(180px, 1fr));
  gap: 0.8rem;
}

button {
  width: max-content;
}

@media (max-width: 768px) {
  .admin-form {
    grid-template-columns: 1fr;
  }
}
