<mat-toolbar class="toolbar">
  <a class="brand" routerLink="/products">
    <mat-icon>storefront</mat-icon>
    <span>LT Catalog</span>
  </a>

  <nav class="links">
    <a mat-button routerLink="/products" routerLinkActive="active-link">Products</a>
    <a mat-button routerLink="/admin" routerLinkActive="active-link">Add Product</a>
    <a mat-button routerLink="/orders" routerLinkActive="active-link">Orders</a>
  </nav>

  <a class="cart-link" mat-icon-button routerLink="/cart" [matBadge]="(itemCount$ | async) ?? 0" matBadgeColor="warn">
    <mat-icon>shopping_cart</mat-icon>
  </a>
</mat-toolbar>
